@value colors: "../../stylesheets/ui-color-palette.css";
@value deepPurple, purple, grey, grey300, grey600, grey800 from colors;

.container {
  box-shadow: 0px 0px 5px grey;
  width: 350px;
  border-radius: 4px;
  margin: 1em .5em;
}

.title {
  background: deepPurple;
  border-radius: 4px 4px 0px 0px;
  color: white;
  padding: .5em;
  margin: 0;
  white-space: nowrap; 
  overflow: hidden;
  text-overflow: ellipsis;
}

.info {
  padding: 1em;
}

.infoItem {
  height: 360px;
}

.infoItemFlex {
  display: flex;
  border-bottom: 1.5px solid grey300;
}

.infoItemFlex:last-child {
  border-bottom: none;
}

.infoItemTitle {
  text-transform: uppercase;
  font-weight: bold;
  color: purple;
}

.infoItemDesc {
  color: grey600;
}

.infoItemDescFlex {
  color: grey600;
  flex-grow: 1;
  text-align: right;
}